@use '@styles/mixins';

.header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: var(--z-high);
  width: 100%;
  background-color: var(--color-bg-primary);
  @include mixins.transition(background-color, color);

  &.headerTransparent {
    background-color: transparent;
    color: var(--color-white);
  }

  &.navContainerOpen {
    position: fixed;
  }
}

.headerContainer {
  width: 100%;
  margin: 0 auto;
}

.navigation {
  padding: 0.75rem 0;

  @include mixins.breakpoint-up(lg) {
    display: flex;
    align-items: center;
    padding: 1.5rem 0;
  }
}

.toolbar {
  position: relative;
  z-index: var(--z-ultra);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.toolbarIcons {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  margin-right: -0.5rem;
  position: relative;
  z-index: 100;

  button {
    padding: 0.125rem;
  }
}

.logo {
  cursor: pointer;
  width: auto;
  height: 2.5rem;
  @include mixins.breakpoint-up(md) {
    height: 3.5rem;
  }
  @include mixins.breakpoint-up(lg) {
    height: 4rem;
  }
}
