@use '@styles/mixins';

.navMenuContainer {
  position: fixed;
  top: 0rem;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 5;
  padding-bottom: 1rem;
  overflow-y: auto;
  background-color: var(--color-bg-brand);
  clip-path: circle(0 at -20% 50%);
  transition: clip-path 0.4s cubic-bezier(0.22, 0.61, 0.36, 1);

  &.navContainerOpen {
    clip-path: circle(150% at 50% 50%);
  }
}

.navMenuList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 7.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;
  max-width: 1024px;
  height: calc(100% - 7.5rem);
  margin-left: auto;
  margin-right: auto;
  position: relative;

  & > * {
    margin-bottom: 1rem;
  }
  & > a,
  & > div > [class~='parentSubMenuButton'] {
    padding: 1rem;
  }
}
