@use '@styles/mixins';

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: 0;
  background-color: var(--color-bg-backdrop);
  z-index: var(--z-high);
}

.modal {
  margin: 0 1.5rem;
  max-height: calc(100% - 6rem);
  border-radius: var(--border-radius);
  position: relative;
  background-color: var(--color-bg-primary);
  box-shadow: var(--box-shadow-lg);
  overflow-y: scroll;

  &:focus {
    outline: none;
  }

  @include mixins.breakpoint-up(lg) {
    // margin: 0;
  }
}

.modalCloseButton {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 10;
  color: var(--color-white);

  @include mixins.breakpoint-up(lg) {
    color: var(--color-black);
  }
}
