@use '@styles/mixins';

.footer {
  width: 100%;
  margin-top: auto;
  background-color: var(--color-black);
  color: var(--color-white);
}

.footer__nav {
  display: grid;
  gap: 3rem;
  @include mixins.breakpoint-up(lg) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.footer__block {
  display: grid;
  justify-items: center;
  align-content: start;

  @include mixins.breakpoint-up(lg) {
    justify-items: start;
  }
}

.footer__block__title {
  font-family: var(--font-family-alt);
  font-weight: 700;
  font-size: var(--font-size-subtitle);
  color: var(--color-pink-3);
  text-transform: uppercase;
  margin-bottom: 0.75rem;

  @include mixins.breakpoint-up(md) {
    margin-bottom: 1rem;
  }

  @include mixins.breakpoint-up(lg) {
    margin-bottom: 2rem;
  }
}

.footer__block__link {
  padding: 0.5rem 0;
  line-height: var(--line-height-header);
  color: var(--color-white);
  font-weight: 600;
  text-decoration: underline;
  text-transform: uppercase;
}

.socials {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.social__items {
  width: 100%;
  min-height: 16vw;
  padding-top: 8rem;
  padding-bottom: 8rem;
  background-image: url('/assets/footer.jpg');
  background-position: center;
  background-size: cover;
  z-index: 1;
  position: relative;

  &::before {
    bottom: 0;
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: -1;
    background-color: var(--color-black-fade-50);
    background-image: radial-gradient(
        rgba(255, 255, 255, 0.2) 1px,
        rgba(0, 0, 0, 0.15) 1px
      ),
      radial-gradient(rgba(255, 255, 255, 0.1) 1px, rgba(0, 0, 0, 0.1) 1px);
    background-size: 4px 4px;
    background-position: 0 0, 2px 2px;
  }

  @include mixins.breakpoint-up(xl) {
    padding-top: 12rem;
    padding-bottom: 12rem;
  }
}

.social__items__inner {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-items: center;
  justify-content: center;
  align-items: center;
  gap: 0.125rem;
}

.social__item {
  color: white;
  z-index: 11;

  &:hover,
  &:focus {
    color: var(--color-pink-4);
  }

  svg {
    width: 3.5rem;
    height: auto;
  }
}

.footer__bottom {
  display: grid;
  gap: 1.5rem;
  justify-content: center;
  justify-items: center;
  align-items: center;
  margin-top: 3rem;
  @include mixins.breakpoint-up(lg) {
    margin-top: 5rem;
  }
}

.copy {
  text-align: center;
  width: 100%;
  display: inline-block;
  font-size: var(--font-size-x-small);
  line-height: var(--line-height-small);

  a {
    font-weight: inherit;
    color: var(--color-text-inverted);

    text-decoration: underline;
  }
}

.partners {
  margin-top: 5rem;
  margin-bottom: 3rem;
  display: flex;
  gap: 1.5rem;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  opacity: 0.5;

  & > * {
    width: auto;
    height: 2rem;
  }

  @include mixins.breakpoint-up(md) {
    gap: 2rem;

    & > * {
      width: auto;
      height: 2.5rem;
    }
  }

  @include mixins.breakpoint-up(lg) {
    gap: 2.5rem;

    & > * {
      width: auto;
      height: 3rem;
    }
  }
}

.scale_down {
  width: auto;
  height: 1.5rem;

  @include mixins.breakpoint-up(md) {
    width: auto;
    height: 2rem;
  }
  @include mixins.breakpoint-up(lg) {
    width: auto;
    height: 2.25rem;
  }
}

.scale_up {
  width: auto;
  height: 4rem;

  @include mixins.breakpoint-up(md) {
    width: auto;
    height: 4.5rem;
  }
  @include mixins.breakpoint-up(lg) {
    width: auto;
    height: 6rem;
  }
}
