@use '@styles/mixins';

.form {
  display: grid;
  align-items: start;
  grid-gap: 1rem;
}

.form__button {
  @include mixins.breakpoint-up(md) {
    justify-self: start;
  }
}

.message-received {
}
