.custom500 {
  text-align: center;
  height: 100%;
  background-image: url('/assets/single_z.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 5% 50%;

  h1 {
    font-weight: 700;
    margin-bottom: 3rem;
  }

  p {
    font-size: var(--font-size-subtitle);
    margin-bottom: 1.5rem;
  }
}
